body{
    background-color: purple;
    text-align: center;
}

input {
    padding: 5px;
    border-radius: 5%;
}

button {
    background-color: yellow;
    border-color: orange;
    margin: 2%;
    width: 10%;
    padding: 5px;
    border-radius: 25px;
}
button:active {
    background-color: rgb(221, 225, 9);
    width: 9.8%;
}