<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <title>Forside</title>
    </head>

    <script>
        const buttonClicked = () => {
            let radNummer=document.getElementById("rad").value;
            let seteNummer=document.getElementById("sete").value;

            let antallRader={{amountOfRows}};
            let antallSeter={{amountOfSeats}};
            
            if(radNummer==="" || seteNummer==="") {
                document.getElementById("ErrorMessage").innerText="Vennligst fyll inn alle feltene!";
            }
            else if (isNaN(radNummer) || isNaN(seteNummer)) {
                document.getElementById("ErrorMessage").innerText="Input må være tall!";
            }
            else if (radNummer > antallRader || radNummer < 0 || seteNummer > antallSeter || seteNummer < 0) {
                document.getElementById("ErrorMessage").innerText="Denne plassen finnes ikke";
            }
            else {
                document.getElementById("ErrorMessage").innerText="";
                sessionStorage.setItem("radNummer", radNummer);
                sessionStorage.setItem("seteNummer", seteNummer);
                window.location.href="/farge"; // Redirect to websocket.html   
            }
        }
    </script>

    <body>
        <font size = "5">
        <h2 class="p1">Velkommen til MGP sitt digitale lysshow!</h2>
        
        <p class="p1">Vennligst skriv inn rad og sete. Det står på setet ditt.</p>

        <h5 class="p1"> Rad: </h5>
        <input id="rad" type="number" pattern="[0-9]*" inputmode="numeric">
        <h5 class="p1"> Sete: </h5>
        <input id="sete" type="number" pattern="[0-9]*" inputmode="numeric">
        <br>

        <button onclick="buttonClicked()" href="" class="button">Send!</button>
        <div id="ErrorMessage"></div>
        <br>
    </body>
</html>