<!-- <html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat room</title>
</head>

<body>

    <script type="text/javascript">
        
        const socket = new WebSocket("ws://localhost:3000")

        socket.onopen = function (e) {
            //alert("1")
            console.log("Connected", e)
        }

        function sendMessage() {
            socket.send("hei")
        }

        socket.onmessage = function (event) {
            //alert(msg)
            console.log("MESSAGE")
            // return false
        }

        socket.onerror = function (error) {
            console.log("error", error)
            // alert("error")
        }

        socket.onclose = function(event) {
            console.log("Websocket closed")
            alert("FML")
        }

    </script>

    <ul id="meldinger"></ul>
    <input type="text" , id="minMelding">
    <button id="sendButton" onclick="sendMessage()">Send</button>
</body>

</html> -->

<html>
  <head>
    <title>SOCKET</title>
  </head>
  <style>
    body {
      background-color: #f5f5f5;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      line-height: 1.42857143;
      color: #333;
      margin: 0;
    }
    h1 {
      font-size: 36px;
      font-weight: 700;
      margin: 20px 0;
      text-align: center;
    }
  </style>
  <body>
    <!-- <h1>💃 MIN DISKO APP 🕺</h1> -->
    <!-- <form id="form">
      <input type="color" id="color" name="color" value="#002100" />
      <button type="submit">Change color</button>
    </form> -->
  </body>

  <script type="module">
    import { io } from 'https://cdn.socket.io/4.3.2/socket.io.esm.min.js';

    let body = document.querySelector('body');

    const socket = io();
    
    socket.on('connect', () => {
      console.log('Connected to server');
    });

    // custom event that listens for colorchange
    socket.on('update:color', (data) => {
      console.log('New color: ' + data);
      body.style.backgroundColor = data;
    });

    socket.on('disconnect', () => {
      console.log('Disconnected from server');
    });

    // form submit event
    let form = document.querySelector('#form');
    form.addEventListener('submit', (e) => {
      e.preventDefault();
      let color = document.querySelector('#color').value;
      socket.emit('update:color', color);
    });

    setInterval(() => {
        let color = document.querySelector('#color').value;
        socket.emit('update:color', color);
    }, 1000)

  </script>
</html>